In [90]:
#imports
import random
import pickle 
import columnar
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [91]:
# Import and Analysis Data
titanic_test = pd.read_csv("data/test.csv")
test_names = titanic_test["Name"]
titanic_test
test_names

0                                  Kelly, Mr. James
1                  Wilkes, Mrs. James (Ellen Needs)
2                         Myles, Mr. Thomas Francis
3                                  Wirz, Mr. Albert
4      Hirvonen, Mrs. Alexander (Helga E Lindqvist)
                           ...
413                              Spector, Mr. Woolf
414                    Oliva y Ocana, Dona. Fermina
415                    Saether, Mr. Simon Sivertsen
416                             Ware, Mr. Frederick
417                        Peter, Master. Michael J
Name: Name, Length: 418, dtype: object

In [92]:
# Removeing Null and Redundant Row and column
titanic_test = titanic_test.drop(["Cabin", "Ticket", "Name", "PassengerId"], axis=1)
titanic_test = titanic_test.dropna()

In [93]:
# Conveter Functions
def sex_conveter(value :str) -> int:
    if value == "male":
        return 0
    elif value == "female":
        return 1
    else:
        return -1

def embarked_conveter(value :str) -> int:
    if value == "S":
        return 0
    elif value == "C":
        return 1
    elif value == "Q":
        return 2
    else:
        return -1

In [94]:
# Transforming Labels
titanic_test["Sex"] = titanic_test["Sex"].apply(sex_conveter)
titanic_test["Embarked"] = titanic_test["Embarked"].apply(embarked_conveter)
titanic_test["Age"] = titanic_test["Age"].apply(int)

titanic_test

     Pclass  Sex  Age  SibSp  Parch      Fare  Embarked
0         3    0   34      0      0    7.8292         2
1         3    1   47      1      0    7.0000         0
2         2    0   62      0      0    9.6875         2
3         3    0   27      0      0    8.6625         0
4         3    1   22      1      1   12.2875         0
..      ...  ...  ...    ...    ...       ...       ...
409       3    1    3      1      1   13.7750         0
411       1    1   37      1      0   90.0000         2
412       3    1   28      0      0    7.7750         0
414       1    1   39      0      0  108.9000         1
415       3    0   38      0      0    7.2500         0

[331 rows x 7 columns]

In [95]:
# Load Trained Model
with open("titanic.pkl", "rb") as f:
    global lr_model
    lr_model :LogisticRegression = pickle.load(f)

In [96]:
# Create Testing Data
train_x = titanic_test.iloc[:, ].values
train_x

array([[  3.    ,   0.    ,  34.    , ...,   0.    ,   7.8292,   2.    ],
       [  3.    ,   1.    ,  47.    , ...,   0.    ,   7.    ,   0.    ],
       [  2.    ,   0.    ,  62.    , ...,   0.    ,   9.6875,   2.    ],
       ...,
       [  3.    ,   1.    ,  28.    , ...,   0.    ,   7.775 ,   0.    ],
       [  1.    ,   1.    ,  39.    , ...,   0.    , 108.9   ,   1.    ],
       [  3.    ,   0.    ,  38.    , ...,   0.    ,   7.25  ,   0.    ]])

In [101]:
# Predict and save Survivors to file
result = lr_model.predict(train_x)
with open("Survivors.txt", "wb") as f:
    data = []
    for index, r in enumerate(result):
        d = [test_names[index], "Survived" if r == 1 else "Not Survived"]
        data.append(d)
    table = columnar.columnar(data, headers=("Names", "Status"))
    f.write(table.encode())
    f.close()